body{
  background-color: #262626;
  font-family: Helvetica Neue, serif;
  font-weight: bold;
}

.hidden{
  display: none;
}
#container{
  margin-left: 15%;
}

#sidebar{
  height: 100%;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  font-weight: normal;
}
  #port-filter{
    width: 100%;
    position: relative;
    top: 20%;
    background-color: #fff;
  }





#content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.port{
  width: 30%;
  margin: 3rem 0;
}
.port-content{
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
}
.port-content:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 60px solid #262626;
  border-left: 60px solid transparent;
  width: 0;
}
  .mask{
    background-color: #fff;
  }
  .title{
    padding: .5rem 0;
    background-color: rgba(255, 0, 0, 0.8);
    text-align: center;
    color: #fff;
  }
  .frame-sections{
    padding: 1rem 3rem;
  }
  #sub-title{
    display: flex;
  }
  .frame-sections h2{
    width: 100%;
    text-align: right;
    color: #000;
  }
   span{
     color: #B0B0B0;
  }
  .port-content #scanned-tickets{
    font-size: 25px;
    color: #000;
    padding-bottom: 16px;
  }
  .port-content .trend{
    font-size: 25px;
  }
    #neg-trend{
      color: #ff0000;
    }
    #pos-trend{
      color: mediumseagreen;
    }

  .high-low{
    font-size: 25px;
    color: #000;
  }

  .bottom-bar{
    text-align: center;
  }
  .type-button{
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    margin: 1rem 1rem;
  }
  .type-button:hover{
    background-color: #000;
  }
  .port-content table{
    text-align: center;
  }

.chevron{
  width: 100%;
  height: 50px;
  margin: 0 auto;
  transition: .5s;
  color: rgba(255, 255, 255, 0.7);
}