#container{
  margin-left: 15%;
}

#sidebar{
  height: 100%;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
}
  #port-filter{
    width: 100%;
    position: relative;
    top: 20%;
    background-color: #fff;
  }





#content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
button{
  display: none;
}
.port{
  width: 30%;
}
.port-content{
  background-color: #000;
}